body {
	font-family: sans-serif;
	background-color: #3a3a3a;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	flex-direction: column;
	text-align: center;
	color: white;
}

h1 {
	font-size: 2.5rem;
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	padding: 10px 20px;
}

.choices {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

button {
	padding: 20px 40px;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	border: 3px solid black;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s, opacity 0.2s;
	opacity: 0.8;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
	background-color: #ff4081;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

button:hover {
	opacity: 1;
	transform: scale(1.1);
}

.piedra {
	background-color: #f57c00;
}

.papel {
	background-color: #2196f3;
}

.tijera {
	background-color: #e91e63;
}

.lagarto {
	background-color: #4caf50;
}

.spock {
	background-color: #9c27b0;
}

result {
	margin-top: 30px;
}

#user-choice,
#ai-choice {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#winner {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 10px;
}

#winner span {
	font-size: 2rem;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.winner {
	background-color: #4caf50;
	color: white;
	border: 3px solid black;
}

.loser {
	background-color: #b81212;
	color: white;
	border: 3px solid black;
}

.tie {
	background-color: #d3a31f;
	color: white;
	border: 3px solid black;
}